server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: servicio-trafico
          uri: lb://servicio-trafico
          predicates:
            - Path=/trafico/**
          filters:
            - StripPrefix=1

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/